{% extends "header.html" %}
{% block body %}
{% include "nav.html" %}

    <h2 class="cover-heading">Register</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form class="form" action="{{ url_for('register') }}" method=post>
      <label for="username" class="sr-only">Username</label>
      <input type="username" name="username" class="form-control" placeholder="Username" required>

      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>

      <label for="email" class="sr-only">Email</label>
      <input type="email" name="password" class="form-control" placeholder="Email Address" required>

     <div class="checkbox">
        <label>
          <input type="checkbox" value="accept-tos" required> I accept TOS
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>


{% endblock %}
